<div class="count navfoter">
	<div class="sum center">
    	<div class="navfotera flt"><img src="{PC1_PATH}images/nav08_03.jpg"></div>
        <div class="navfoterb flt">
         Copyright ©重庆若家商贸有限公司 All rights reserved.
         <span>地址：重庆市南岸区南城大道1号7幢15F</span>
         <span>电话：400-0230-308 023-62389330 86398899 邮箱：344412346@qq.com</span>
         <span>渝ICP备：渝ICP备13000437号-1 技术支持：赛博捷睿</span>
         <span><img src="{PC1_PATH}images/jingcha.png" style="float:left;"/>&nbsp;渝公网安备 50010802002469号</span>        
        </div>
        <div class="navfoterc frt"><img src="{PC1_PATH}images/nav09_03.jpg"></div>
    </div>
</div>