<div class="count">
	<div class="sum menuI center">
    	<div class="sum menu center">
        	<ul>
            	<li><a href="{siteurl($siteid)}">官网首页</a></li>
                <li><a href="{siteurl($siteid)}/list-14-1.html">新闻动态</a></li>
                <li><a href="{siteurl($siteid)}/list-7-1.html">形象展示</a></li>
                <li><a href="{siteurl($siteid)}/list-8-1.html">加盟篇</a></li>
                <li><a class="hover" href="{siteurl($siteid)}/list-2-1.html">关于我们</a></li>
            </ul>
        </div>
    </div>
</div>